* {
  box-sizing: border-box;
}
#title {
  margin: 1em 0 1em 0;
}
.headingTxt {
  text-align: center;
  font-size: 2em;
}
.mainWrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  /* background-color: aqua; */
}
.boardContainer {
  height: 400px;
  width: 400px;
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.square {
  height: 127px;
  width: 127px;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  cursor: pointer;
}

.playerContainer {
  display: flex;
  justify-content: center;
  /* background-color: beige; */
  width: 200px;
  padding: 1em;
}
.blue {
  color: red;
}
#buttonContainer {
  /* background-color: burlywood; */
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0 10px 0 10px;
}